* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: linear-gradient(-60deg, #fcbea2 0%, #caabf5 100%);
    font-family: 'Maven Pro', sans-serif;
    font-size: 0;
}

.container {
    width: 320px;
    height: 480px;
    margin: 30px auto;
    display: table;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
}

input {
    width: 300px;
    height: 60px;
    margin: 0;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
    color: #fff;
    text-align: right;
    font-size: 28px;
}
input::placeholder {
    color: white;
}
input::-moz-placeholder {
    color: white;
    opacity: 1;
}
input::-webkit-placeholder {
    color: #fff;
    opacity: 1;
}

.btn {
    background-image: linear-gradient(to right, #f7f7f7 0%, #d3d3d3 100%);
    width: 80px;
    height: 80px;
    padding: 0;
    font-size: 24px;
    border: none;
}

.btn:hover {
    background-image: linear-gradient(to right, #b8b7b7 0%, #a3a1a1 100%);
}
.btn:focus {
    border: none;
    outline: none;
}
.btn:active {
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 10px;
}

.action {
    background: #9a78c9;
    color: #f7f7f7;
}
.action:hover {
    background: #9367d1;
    color: black;
}

.clean {
    width: 160px;
    background: #b66b6b;
    color: #f7f7f7;
}
.clean:hover span {
    display: none;
}
.clean:hover::before {
    content: 'Clean';
    color: black;
}
.clean:hover {
    background: #c55353;
}

.equal {
    width: 160px;
    background: #ebaf94;
    border-bottom-right-radius: 5px;
}
.equal:hover {
    background: #d48561;
}

.zero {
    border-bottom-left-radius: 5px;
}

@media (max-width: 1024px) {
    .container {
        width: 400px;
    }
    .btn {
        width: 100px;
        height: 100px;
    }
    input {
        width: 380px;
        height: 80px;
        padding: 10px;
        margin: 0;
    }
    .clean {
        width: 200px;
    }
    .equal {
        width: 200px;
    }
}

@media (max-width: 375px) {
    .container {
        margin: auto 0;
    }
    .btn {
        width: 93.75px;
        height: 93.75px;
    }
    input {
        width: 355px;
        height: 93.75px;
        padding: 10px;
        margin: 0;
    }
    .clean {
        width: 187.5px;
    }
    .equal {
        width: 187.5px;
    }
}

@media (max-width: 325px) {
    .container {
        width: 100%;
        height: 100%;
        margin: auto 0;
    }
    .btn {
        width: 25%;
        height: 80px;
    }
    input {
        width: calc(100% - 20px);
        height: 68px;
        padding: 10px;
        margin: 0;
    }
    .clean {
        width: 50%;
    }
    .equal {
        width: 50%;
    }
}