* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flexbox;
    justify-content: space-between;
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 0;
}

body.dark {
    background: linear-gradient(-60deg, #b7bb7d 0%, #a68dca 100%);

}

.mode {
    width: 500px;
    height: 100px;
    margin: 20px auto;
    border: 1px solid black;
}
#darkMode {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
}

.container {
    margin: 30px ;
    display: flexbox;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
}

input {
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    text-align: right;
    font-size: 32px;
}
input::placeholder {
    color: white;
}
input::-moz-placeholder {
    color: white;
    opacity: 1;
}
input::-webkit-placeholder {
    color: #fff;
    opacity: 1;
}
.btn:hover {
    background-image: linear-gradient(to right, #b8b7b7 0%, #a3a1a1 100%);
}
.btn:focus {
    border: none;
    outline: none;
}
.btn:active {
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 10px;
}
.zero {
    border-bottom-left-radius: 5px;
}

@media only screen and (min-width: 300px) {
    html, body {
        background: linear-gradient(-60deg, #b7bb7d 0%, #a68dca 100%);
    }
    .container {
        width: 100%;
        height: 100%;
        margin: auto 0;
    }
    .btn {
        width: 25%;
        height: calc(100% / 7);
        background-image: linear-gradient(to right, #cac3c3 0%, #a79191 100%);
        font-family: 'Teko', sans-serif;
        font-size: 28px;
        border: none;
    }
    input {
        width: calc(100% - 20px);
        height: calc(100% / 7 - 20px);
        padding: 10px;
        margin: 0;
    }
    .clean {
        width: 50%;
        background: #ac5e5e;
    }
    .equal {
        width: 50%;
        background: #804242;
    }
    .action {
        background: #6b5d1d;
        color: #f7f7f7;
    }
}

@media only screen and (min-width: 480px) {
    .container {
        width: 90%;
        height: 70%;
        margin: 20px auto;
    }
    .btn {
        width: 25%;
        height: calc(100% / 6);
        font-size: 36px;
    }
    input {
        width: calc(100% - 20px);
        height: calc(100% / 6 - 20px);
        padding: 10px;
        margin: 0;
    }
    .clean {
        width: 50%;
    }
    .equal {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    html, body {
        background: linear-gradient(-60deg, #fcbea2 0%, #caabf5 100%);
    }
    .container {
        width: 560px;
        height: 840px;
        margin: 10px auto;
    }
    input {
        width: 540px;
        height: 120px;
        padding: 10px;
        margin: 0;
        font-size: 44px;
    }
    .btn {
        width: 140px;
        height: 140px;
        font-size: 48px;
        background-image: linear-gradient(to right, #f7f7f7 0%, #d3d3d3 100%);
    }
  
    .action {
        background: #9a78c9;
        color: #f7f7f7;
    }
    .action:hover {
        background: #9367d1;
        color: black;
    }
    
    .clean {
        width: 280px;
        background: #b66b6b;
        color: #f7f7f7;
    }
    .clean:hover span {
        display: none;
    }
    .clean:hover::before {
        content: 'Clean';
        color: black;
    }
    .clean:hover {
        background: #c55353;
    }
    .equal {
        width: 280px;
        background: #ebaf94;
        border-bottom-right-radius: 5px;
    }
    .equal:hover {
        background: #d48561;
    }
}

@media only screen and (min-width: 1024px) and (orientation: portrait) {
    .container {
        width: 800px;
        height: 1200px;
        margin: 40px ;
    }
    .btn {
        width: 200px;
        height: 200px;
        font-size: 56px;
    }
    input {
        width: 760px;
        height: 160px;
        padding: 20px;
        margin: 0;
        font-size: 52px;
    }
    .clean {
        width: 400px;
    }
    .equal {
        width: 400px;
    }
}