* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-60deg, #fcbea2 0%, #caabf5 100%);
    font-family: 'Maven Pro', sans-serif;
    font-size: 0;
}

.container {
    width: 320px;
    height: 480px;
    margin: 30px auto;
    display: table;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
}

input {
    width: 300px;
    height: 60px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
    color: #fff;
    text-align: right;
    font-size: 28px;
}
:-ms-input-placeholder {
    color: #fff;
}
::-webkit-input-placeholder {
    color: #fff;
}
.btn {
    width: 80px;
    height: 80px;
    padding: 20px;
    font-size: 28px;
    background-image: linear-gradient(to right, #f7f7f7 0%, #d3d3d3 100%);
    border: none;
}

.btn:hover {
    background-image: linear-gradient(to right, #d4d4d4 0%, #cecece 100%);
}
.btn:active {
    border: none;
    outline: none;
}
.btn:focus {
    border: none;
    outline: none;
}

.equal {
    width: 160px;
    border-bottom-right-radius: 5px;
}

.zero {
    border-bottom-left-radius: 5px;
}



@media (max-width: 768px) {
    .container {
        width: 320px;
    }
    .btn {
        padding: 20px;
    }
}

@media (max-width: 375px) {

    .container {
        width: 300px;
        height: 450px;
        margin: 30px auto;
    }
    .btn {
        width: 75px;
        height: 75px;
        padding: 15px;
    }
    input {
        width: 280px;
        height: 75px;
        padding: 10px;
    }
    .equal {
        width: 150px;
    }
}